

<%= render "layouts/homepage-slideshow" %>
<div class="row alternating-color-section-for-home-page">
	
		  <div class="col-md-4 text-center" id="books-home-page-box">
		  	<div class="col-md-12">
		  		<p class="Taxworld-Head remove-space-on-the-left-in-uls">Our bestseller</p>
		  	<ul class="product_list_widget">
<li class="dont-display-the-dot-on-li">
  <a href="http://www.taxworld.ie/product/tax-magic-2016/" title="Tax Magic 2016">
    <img width="180" height="180" src="http://www.taxworld.ie/wp-content/uploads/2016/01/tax-magic-2016-180x180.png" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="Taxmagic 2016" srcset="http://www.taxworld.ie/wp-content/uploads/2016/01/tax-magic-2016-180x180.png 180w, http://www.taxworld.ie/wp-content/uploads/2016/01/tax-magic-2016-150x150.png 150w, http://www.taxworld.ie/wp-content/uploads/2016/01/tax-magic-2016-300x300.png 300w, http://www.taxworld.ie/wp-content/uploads/2016/01/tax-magic-2016.png 400w" sizes="(max-width: 180px) 100vw, 180px">    <span class="product-title">Tax Magic 2016</span>
  </a>
          <span class="amount">€65.50</span></li>
</ul>
		  </div>
		  <div class="col-md-12">
		  	<p style="margin-bottom:0;"><b> Also available on: </b></p>
      <a href="http://www.amazon.co.uk/TaxMagic-2016-Alan-Moore-ebook/dp/B01DYR4R9K?ie=UTF8&*Version*=1&*entries*=0" target="_blank">
			<img  src="https://s3-eu-west-1.amazonaws.com/taxworld-co-uk/amazon.uk_button.png" alt="Buy now at amazon.co.uk" />
		</a>
		  </div>
		  </div>
		  <div class="col-md-4 text-center" id="members-area-home-page-box">
		  	<p class="Taxworld-Head">Members area</p>
		  	<p>&nbsp;</p>
		  	<p><b> Are you a professional person or a business owner?<br> Find answers to tax questions in our members area.</b></p>
		  	<p>&nbsp;</p>
		  	<a href="/answers/" class="btn btn-primary">Ask a question</a>
		  	<p class="hidden-xs">&nbsp;</p>
		  	<p class="hidden-xs">&nbsp;</p>
		  </div>
		  <a href="/events/">
		   <div class="col-md-4 text-center" id="seminar-home-page-box">
		   <p class="Taxworld-Head">Seminars</p>

      		<p class="text-center" style="color: black;"><b>Our 2016 TaxMagic seminar has attracted over 750 attendees.  </b></p>
      		 <img src="https://s3-eu-west-1.amazonaws.com/taxworld-ie/Seminar-image-for-homepage"  alt="TaxMagic audience image" style="width:80%;border-radius:10px;"> 
      		 <p style="margin-top: 18px;color: black;"><b>Details of our next seminar on ‘Passing Assets’ (7 CPD hours) to be released in July.</b></p>
      		<p class="hidden-xs">&nbsp;</p>
		  </div>
		</a>
		  
		 
		  </div>	
	<div class="hidden-xs">
	<hr>
		<div class="row">
			
			
		  <div class="col-md-4 text-center">
		  	
		    <p class="Taxworld-body">Great professional advice in simple English</p>
			<p class="Taxworld-body"><strong>Linda Utinane, BJK Accountants</strong></p>

		  </div>
		  <div class="col-md-4 text-center">
		   <p class="Taxworld-body">Very informative material explained in a clear, common sense manner</p>
		   <p class="Taxworld-body"><strong>Fiona Cullivan, Michael J Kennedy &amp; Co</strong></p>
		  </div>
		   <div class="col-md-4 text-center">
		   <p class="Taxworld-body">Informative, useful and helpful in bringing ideas and solutions to clients</p>
			<p class="Taxworld-body"><strong>Donald P McKenna, Donald P McKenna &amp; Assoc</strong></p>
		  </div>
		  
		 
		  
		  
		</div>


  
	</div>