<nav class="navbar navbar-default hidden-print">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="mobile-header-taxworld-logo navbar-brand visible-xs-block visible-sm-block" rel="home" href="/" title="Taxworld">
      <img src="https://dvxtob0ynon8t.cloudfront.net/Taxworld-logo.svg" alt="Taxworld Logo">
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul id="navbar" class="nav navbar-nav" >
      <li class=" dropdown"><a href="/membership-account/membership-levels">Membership</a></li>
            
      <li class="dropdown"><a href="/income-tax/summary/">Income Taxes</a></li>
      
      <li class=" dropdown"><a href="/corporation-tax/summary/">Corporation Tax</a></li>
          
      <li class=" dropdown"><a href="/cgt/summary/">CGT </a></li>
            
      <li class=" dropdown"><a href="/vat/summary/">VAT</a></li>

      <li class=" dropdown"><a href="/cat/summary/">CAT</a></li>

      <li class=" dropdown"><a href="/revenue-powers/sis/treaties/">International</a></li>

      <li class=" dropdown"><a href="/stamp-duty/summary/">Other taxes</a></li>
      
      <li class=" dropdown"><a href="/statutes/">Statutes</a></li>

      <li class=" dropdown"><a href="/residency-test/">Tools</a></li>
               
    </ul>

  </div>
  <!-- google search box -->
</nav>