<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <a href="/membership-account/membership-levels/">
        <img src="https://dvxtob0ynon8t.cloudfront.net/home-page-slideshow/7-1-want-answers-to-tax-questions.jpg" alt="Want answers to tax questions">
      </a>
    </div>

    <div class="item">
      <a href="/events/">
        <img src="https://dvxtob0ynon8t.cloudfront.net/home-page-slideshow/7-1-gain-insights.jpg" alt="Gain insights">
      </a>
    </div>

    <div class="item">
      <a href="/membership-account/membership-levels/">
        <img src="https://dvxtob0ynon8t.cloudfront.net/home-page-slideshow/7-1-search-the-tax-code-and-commentary-on-all-your-devices.jpg" alt="Search the tax code and commentary on all your devices">
      </a>
    </div>

    <div class="item">
      <a href="/answers/">
        <img src="https://dvxtob0ynon8t.cloudfront.net/home-page-slideshow/7-1-search-our-archive-of-2500-questions-by-topic-category.jpg" alt="Search our archive of 2500 questions by topic category">
      </a>
    </div>

    <div class="item">
      <a href="/answers/">
        <img src="https://dvxtob0ynon8t.cloudfront.net/home-page-slideshow/7-1-ask-a-question-by-topic-category.jpg" alt="Ask a question by topic category">
      </a>
    </div>

    <div class="item">
      <a href="/membership-account/membership-levels/">
        <img src="https://dvxtob0ynon8t.cloudfront.net/home-page-slideshow/7-1-schedule-a-helpline-call.jpg" alt="Schedule a helpline call">
      </a>
    </div>
    
    <div class="item">
      <a href="http://www.alanmoore.ie/contact/book-an-appointment/">
        <img src="https://dvxtob0ynon8t.cloudfront.net/home-page-slideshow/7-1-get-specific-tax-consultancy-advice.jpg" alt="Get specific tax consultancy advice">
      </a>
    </div>

  </div>

   <!-- Left and right controls -->   
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">   
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>    
    <span class="sr-only">Previous</span>    
  </a>   
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">    
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>   
    <span class="sr-only">Next</span>    
  </a>

</div>
